/* General Rules*/
* {
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

/* Container*/
.container {
  margin-left: 20px;
}

/* Header (logo)*/
.logo_netflix {
  height: 90px;
  width: 7%;
}

/* Section Title*/
h1 {
  font-size: 20px;
}

/* Section img*/
img {
  height: 100%;
}

/* Section Carrousel*/
.carrouselSection {
  display: flex;
  overflow: scroll;
  height: 125px;
}

/* Permet de cacher la scrollbar*/
.carrouselSection::-webkit-scrollbar {
  display: none;
}
